<% title "Comments" %>

<table>
  <tr>
    <th>User</th>
    <th>Body</th>
    <th>Item</th>
    <th>Item Type</th>
  </tr>
  <% for comment in @comments %>
    <tr>
      <td><%=h comment.user_id %></td>
      <td><%=h comment.body %></td>
      <td><%=h comment.item_id %></td>
      <td><%=h comment.item_type %></td>
      <td><%= link_to "Destroy", comment, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Comment", new_comment_path %></p>
