<%= stylesheet 'states','home'%>
<%= javascript 'jquery/jquery.corner','home'%>
<div id="home" class="clearfix">
	
	<div id="side">
		<div id="sub_link">
			<%= render :partial => 'sub_link' %>
		</div>
	</div>
	
	<div id="main" class="clearfix">
		<div id="home-body">
					<%= content_tag("div",flash[:notice],"id"=>"notice") if flash[:notice]%>
			<div id="state_box">
				<%= render :partial => 'state_panel' %>
			</div>
			<div id="feeds_wrapper">
				<%= render :partial => 'feed' %>
			</div>
		</div>
		<div id="home-side">
			<div id="my_followers" class="clearfix friends">
				<h3>关注我的人:</h3>	
					<ul><%= render :partial => "/shared/side_followers_list", :collection => @followers,:as => :user%></ul>
			</div><!--end friends-->
			<div id="my_followed_users" class="clearfix friends">
				<h3>我关注的人:</h3>	
				<ul><%= render :partial => "/shared/side_followers_list", :collection => @followed_users,:as => :user%></ul>
			</div><!--end friends-->
		</div>
	</div>
	
</div>