<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
	<title><%= h(yield(:title) || "E-lover 异地恋感情社区") %></title>
	<%= stylesheet_link_tag 'core' %>
	<%= yield(:head) %>

</head>
<body>
	<div id="wrapper">
		<div id="header">
			<div id="user_nav">  
			  <% if current_user %>  
			    <%= link_to "Edit profile", edit_user_path(:current) %>  
			    <%= link_to "Logout", logout_path %>  
			  <% else %>  
			    <%= link_to "Register", new_user_path %>  
			    <%= link_to "Log in", login_path %>  
			  <% end %>  
			</div>
			<div id="globallink_wrapper">
				<%= render :partial => 'shared/globallink' %>
			</div>
		</div>
		<div id="body">
			<%= yield%>
		</div>
	
		<div id="footer">
		adsf
		</div>
	</div>
	
</body>
</html>